@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');


body {
    font-family: 'Open Sans', sans-serif;
    background-color: #F5F5F5;
    margin: 0px;
}
input, button, submit { 
    border:none; 
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;

} 

.topnav {
    background-color: #fff;
    overflow: hidden;
    height: 70px;
    box-shadow: 0 5px 4px 0 rgba(0,0,0,.2);
    grid-area: navbar;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: #545454;
    text-align: center;
    padding: 25px 20px;
    margin-right: 60px;
    text-decoration: none;
    font-size: 14px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #FE0078;
    color: #fff;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }

  .topnav img {
    padding: 10px;
    margin-left: 60px;
  }


.grid-container {
    display: grid;
    gap: 40px;
    grid-template-areas:
      "navbar navbar navbar navbar"
      "card1 card1 card1 cardlateral"
      "card1 card1 card1 cardlateral"
      "card2 card2 card2 cardlateral"
      "card3 card3 card3 cardlateral"
      "footer footer footer footer";
    justify-items: center;
}
    .card1 { 
      grid-area: card1; 
      width: 730px;
      height: 696px;
      background-color: #fff;
      margin-top: 45px;
      border-radius: 4px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
    }
    .card1 h2 {
        margin-left: 24px;
        line-height: 50px;
        height: 25px;
        font-weight: 700;
        font-size: 24px;
    }
    .card1 span {
        margin-left: 24px;
        font-size: 12px;
        color: #929292;
    }
    .card1 p {
        margin: 24px;
        font-size: 14px;
        line-height: 19px;
        color: #545454;
    }
    .card1 img {
        margin-top: 14px;
    }
    .card1 button {
        float: right;
        border: 2px solid #FE0078;
        border-radius: 50px;
        color: #545454;
        font-size: 14px;
        padding: 10px;
        margin-right: 15px;
        width: 154px;
        height: 43px;
    }


    .card2 { 
        grid-area: card2; 
        width: 730px;
        height: 696px;
        background-color: #fff;
        margin-top: 45px;
        border-radius: 4px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
      }
      .card2 h2 {
          margin-left: 24px;
          line-height: 50px;
          height: 25px;
          font-weight: 700;
          font-size: 24px;
      }
      .card2 span {
          margin-left: 24px;
          font-size: 12px;
          color: #929292;
      }
      .card2 p {
          margin: 24px;
          font-size: 14px;
          line-height: 19px;
          color: #545454;
      }
      .card2 img {
          margin-top: 14px;
      }
      .card2 button {
        float: right;
        border: 2px solid #FE0078;
        border-radius: 50px;
        color: #545454;
        font-size: 14px;
        padding: 10px;
        margin-right: 15px;
        width: 154px;
        height: 43px;
    }


    .card3 { 
        grid-area: card3; 
        width: 730px;
        height: 696px;
        background-color: #fff;
        margin-top: 45px;
        border-radius: 4px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
      }
    .card3 h2 {
          margin-left: 24px;
          line-height: 50px;
          height: 25px;
          font-weight: 700;
          font-size: 24px;
      }
    .card3 span {
          margin-left: 24px;
          font-size: 12px;
          color: #929292;
      }
    .card3 p {
          margin: 24px;
          font-size: 14px;
          line-height: 19px;
          color: #545454;
      }
    .card3 img {
          margin-top: 14px;
      }
    .card3 button {
        float: right;
        border: 2px solid #FE0078;
        border-radius: 50px;
        color: #545454;
        font-size: 14px;
        padding: 10px;
        margin-right: 15px;
        width: 154px;
        height: 43px;
    } 


    .cardlateral { 
      grid-area: cardlateral;
      width: 380px;
      height: 1396px;
      background-color: #fff;
      margin-top: 45px;
    }

    .pesquisa {
        border-radius: 15px;
        border: 1px solid #EEEEEE;
        width: 340px;
        height: 52px;
        margin: 20px;

    }
    input[type="text"]:hover {
        border: 1px solid #FE0078;
    }
    input[type="text"]:focus {
        border: 1px solid #FE0078;
    }

footer {
    grid-area: footer;
}